In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dataset=pd.read_csv('data/results.csv')

In [4]:
dataset.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [6]:
dataset.head(20)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [7]:
dataset.describe()

         home_score    away_score
count  39050.000000  39050.000000
mean       1.739974      1.179846
std        1.730503      1.378580
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39050 entries, 0 to 39049
Data columns (total 9 columns):
date          39050 non-null object
home_team     39050 non-null object
away_team     39050 non-null object
home_score    39050 non-null int64
away_score    39050 non-null int64
tournament    39050 non-null object
city          39050 non-null object
country       39050 non-null object
neutral       39050 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.4+ MB

In [9]:
X = dataset.iloc[:, 1:5].values
y = dataset.iloc[:, 8].values

In [12]:
X.shape,y.shape

((39050, 4), (39050,))

In [13]:
X = dataset.iloc[:, 1:5]
y = dataset.iloc[:, 8]

In [14]:
X,y

(              home_team         away_team  home_score  away_score
 0              Scotland           England           0           0
 1               England          Scotland           4           2
 2              Scotland           England           2           1
 3               England          Scotland           2           2
 4              Scotland           England           3           0
 5              Scotland             Wales           4           0
 6               England          Scotland           1           3
 7                 Wales          Scotland           0           2
 8              Scotland           England           7           2
 9              Scotland             Wales           9           0
 10              England             Wales           2           1
 11              England          Scotland           5           4
 12                Wales          Scotland           0           3
 13             Scotland           England           5           4
 14                Wales           England           2           3
 15             Scotland             Wales           5           1
 16              England             Wales           0           1
 17              England          Scotland           1           6
 18                Wales          Scotland           1           5
 19     Northern Ireland           England           0          13
 20                Wales  Northern Ireland           7           1
 21             Scotland           England           5           1
 22                Wales           England           5           3
 23             Scotland             Wales           5           0
 24              England             Wales           5           0
 25              England  Northern Ireland           7           0
 26              England          Scotland           2           3
 27                Wales          Scotland           0           3
 28     Northern Ireland             Wales           1           1
 29     Northern Ireland          Scotland           0           5
 ...                 ...               ...         ...         ...
 39020           Belarus           Hungary           1           1
 39021            Zambia        Madagascar           1           0
 39022           Lesotho          Zimbabwe           0           0
 39023           England        Costa Rica           2           0
 39024           Uruguay        Uzbekistan           3           0
 39025          Portugal           Algeria           3           0
 39026    Korea Republic           Bolivia           0           0
 39027           Iceland             Ghana           2           2
 39028        Guadeloupe     French Guyana           0           2
 39029             India       New Zealand           1           2
 39030           Germany      Saudi Arabia           2           1
 39031           Croatia           Senegal           2           1
 39032       Switzerland             Japan           2           0
 39033         Lithuania              Iran           0           1
 39034            Poland             Chile           2           2
 39035            Taiwan             Kenya           0           4
 39036            Serbia           Bolivia           5           1
 39037           Denmark            Mexico           2           0
 39038            Sweden              Peru           0           0
 39039           Hungary         Australia           1           2
 39040           Estonia           Morocco           1           3
 39041            Latvia        Azerbaijan           1           3
 39042           Finland           Belarus           2           0
 39043           Tunisia             Spain           1           0
 39044            France               USA           1           1
 39045           Austria            Brazil           0           3
 39046    Korea Republic           Senegal           0           2
 39047           Belgium        Costa Rica           4           1
 39048             Japan          Paraguay           4           2
 39049            Poland         Lithuania           4           0

 [39050 rows x 4 columns], 0        False
 1        False
 2        False
 3        False
 4        False
 5        False
 6        False
 7        False
 8        False
 9        False
 10       False
 11       False
 12       False
 13       False
 14       False
 15       False
 16       False
 17       False
 18       False
 19       False
 20       False
 21       False
 22       False
 23       False
 24       False
 25       False
 26       False
 27       False
 28       False
 29       False
          ...
 39020    False
 39021     True
 39022     True
 39023    False
 39024    False
 39025    False
 39026     True
 39027    False
 39028     True
 39029    False
 39030    False
 39031    False
 39032    False
 39033     True
 39034    False
 39035     True
 39036     True
 39037    False
 39038    False
 39039    False
 39040    False
 39041    False
 39042    False
 39043     True
 39044    False
 39045    False
 39046     True
 39047    False
 39048     True
 39049    False
 Name: neutral, Length: 39050, dtype: bool)

In [15]:
dataset.isnull()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
39020,False,False,False,False,False,False,False,False,False
39021,False,False,False,False,False,False,False,False,False
39022,False,False,False,False,False,False,False,False,False
39023,False,False,False,False,False,False,False,False,False
39024,False,False,False,False,False,False,False,False,False
39025,False,False,False,False,False,False,False,False,False
39026,False,False,False,False,False,False,False,False,False
39027,False,False,False,False,False,False,False,False,False
39028,False,False,False,False,False,False,False,False,False
39029,False,False,False,False,False,False,False,False,False
39030,False,False,False,False,False,False,False,False,False
39031,False,False,False,False,False,False,False,False,False
39032,False,False,False,False,False,False,False,False,False
39033,False,False,False,False,False,False,False,False,False
39034,False,False,False,False,False,False,False,False,False
39035,False,False,False,False,False,False,False,False,False
39036,False,False,False,False,False,False,False,False,False
39037,False,False,False,False,False,False,False,False,False
39038,False,False,False,False,False,False,False,False,False
39039,False,False,False,False,False,False,False,False,False
39040,False,False,False,False,False,False,False,False,False
39041,False,False,False,False,False,False,False,False,False
39042,False,False,False,False,False,False,False,False,False
39043,False,False,False,False,False,False,False,False,False
39044,False,False,False,False,False,False,False,False,False
39045,False,False,False,False,False,False,False,False,False
39046,False,False,False,False,False,False,False,False,False
39047,False,False,False,False,False,False,False,False,False
39048,False,False,False,False,False,False,False,False,False
39049,False,False,False,False,False,False,False,False,False

In [22]:
X = dataset.iloc[:, 1:5].values
y = dataset.iloc[:, 8].values

In [24]:
X.shape,y.shape

((39050, 4), (39050,))

In [25]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [26]:
state = LabelEncoder()

In [27]:
X[:, 3] = state.fit_transform(X[:, 3])

In [28]:
X[:4, :]

array([['Scotland', 'England', 0, 0],
       ['England', 'Scotland', 4, 2],
       ['Scotland', 'England', 2, 1],
       ['England', 'Scotland', 2, 2]], dtype=object)

In [29]:
X[:4, 1]

array(['England', 'Scotland', 'England', 'Scotland'], dtype=object)

In [30]:
X[:1, :]

array([['Scotland', 'England', 0, 0]], dtype=object)

In [31]:
from sklearn.model_selection import train_test_split

In [38]:
x_train,y_train,x_valid,y_valid=train_test_split(x,y,test_size=0.10,random_state=4)

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
reg=LinearRegression()

In [41]:
reg.fit(x_train,y_train)

ValueError: could not convert string to float: 'Nigeria'

In [36]:
from fake_useragent.settings import DB
print(DB)

ModuleNotFoundError: No module named 'fake_useragent'

In [42]:
reg.fit(x_train,y_train)

ValueError: could not convert string to float: 'Nigeria'

In [43]:
reg.fit(x_train,y_train)

ValueError: could not convert string to float: 'Nigeria'

In [1]:
from fake_useragent import UserAgent
on calling ua = UserAgent() or ua = UserAgent(cache=False)

SyntaxError: invalid syntax (<ipython-input-1-f573c6b3fcf8>, line 2)

In [4]:
print("my name is {0} and age is{1}".format("himanshu", 20))

my name is himanshu and age is20

In [6]:
print('we\'re going to...')

we're going to...